# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Assalamualaikum, Selamat Sore Mas Hud, Mohon bantuannya untuk review card Discussion Review & Need Review punya saya mas.
Terimakasih Mas Sebelumnya 🙏🏻😁

Berikut lampiran Link

Discussion Review:              
https://www.notion.so/kodingworks/c34260b970534c13a6e6576358c34464?v=4b36645d8a8b476985b0766dbb4c4e9e&p=aa1fb661cbaf4a0dabacdc0315d415a7&pm=s
Need Review:
https://www.notion.so/kodingworks/c34260b970534c13a6e6576358c34464?v=4b36645d8a8b476985b0766dbb4c4e9e&p=2ededeb68a714c458b94b923d378c0c3&pm=s
https://www.notion.so/kodingworks/c34260b970534c13a6e6576358c34464?v=4b36645d8a8b476985b0766dbb4c4e9e&p=390c0bd74609438caed70b0342be9e64&pm=s
https://www.notion.so/kodingworks/c34260b970534c13a6e6576358c34464?v=4b36645d8a8b476985b0766dbb4c4e9e&p=d0927652ccfe4d45b2c0251c5e6f5feb&pm=s