.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    left: 20px;
}

.swiper-pagination-bullet  {
    width: 11px;
    height: 11px;
    background-color: white;
}
.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
}
.swiper-slide {
    /* margin-right: 0px !important; */
}
.swiper-button-next::after {
    content: url('../../../img/next.png');
}
.swiper-button-prev::after {
    content: url('../../../img/previus.png');
}
.swiper-button-next::after, .swiper-button-prev::after {
    opacity: 1;
    font-size: 17px;
    color: rgba(49,53,59,0.68);
    font-weight: 700;
}

